<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <mapper namespace="com.example.demo.board.BoardMapper">
   
   	<select id="noticeList" resultType="com.example.demo.dto.NoticeDto"> <!-- member은 임시임 만약 admin테이블만들면 수정 -->
   		SELECT n.noticeid, n.title, a.admin_name, n.writeday, n.rnum, n.img, n.content
   		FROM notice n
   		INNER JOIN admin a ON n.admin_name = a.admin_name
   		ORDER BY n.noticeid DESC
   		LIMIT #{index}, 20
   	</select>
   	
   	<select id="noticeGetChong" resultType="Integer">
   		SELECT CEIL( count(noticeid)/20 ) FROM notice 
   	</select>
   	
   	<insert id="noticeWrite" parameterType="com.example.demo.dto.NoticeDto"> <!-- 공지사항 글쓰기(관리자용) -->
	    INSERT INTO notice (title, memberid, writeday, rnum, img, content)
	    VALUES (#{title}, #{memberid}, NOW(), #{rnum}, #{img}, #{content})
</insert>

	

   
   </mapper>